# Entornos virtuales
venv/
.env/
.venv/

# Archivos de entorno
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de base de datos (SQLite, etc.)
*.sqlite3
*.db
